@function color($key) {
  @return map-get($colors, $key);
}
// variables
$colors: (
  'primary' : blue,
  'secondary' : pink
);

$n: 4;
$max: 4;
$el-width: 200;

body {
  font: 18px $f-open-sans;
  color: #000;
  line-height: 1.4;
  font-smooth: always;
  background-color: color(primary)
}

.hex-grid {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 40px);
  margin-left: -20px;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  list-style-type: none;
  &-small {
    display: block;
    list-style: none;
    .hexagon {
      float: left;
      max-width: #{$el-width}px;
      margin: 0;
      @for $n from 0 through $max {
        &:nth-child(#{$max}n + #{$n}) {
          margin-bottom: calc(#{$n} * -20px);
          margin-top: calc(#{$n} * -20px);
          @if ($max - 3) == $n {
            clear: left;
          }
        }
        &:nth-child(#{(2 * $max)}n + #{($max + 1)}) {
          margin-left: #{($el-width / 2) + 15}px;
          margin-bottom: calc(#{$n} * -.5px);
        }
        &:nth-child(#{(2 * $max)}n + #{(2 * $max + 1)}) {
          margin-left: 30px;
        }
      }
      .inner {
        width: calc(100% - 20px);
        padding-bottom: calc(113.5% - 20px);
        margin: 0 10px;
      }
    }
  }
}

.hexagon {
  position: relative;
  visibility: hidden;
  outline: 1px solid transparent;
  width: 20%;
  margin-bottom: 2%;
  &:after {
    content: '';
    display: block;
    padding-bottom: 104.5%;
  }
  img {
    left: -100%;
    right: -100%;
    width: auto;
    height: 100%;
    margin: 0 auto;
    transform: rotate3d(0,0,0,0deg);
    background: red;
  }
  .inner {
    position: absolute;
    width: calc(100% - 40px);
    padding-bottom: calc(113.5% - 40px);
    margin: 0 20px;
    overflow: hidden;
    visibility: hidden;
    outline: 1px solid transparent;
    transform: rotate3d(0,0,1,-60deg) skewY(30deg);
    * {
      position: absolute;
      visibility: visible;
      outline: 1px solid transparent;
    }
  }
  .wrapper {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    transform: skewY(-30deg) rotate3d(0,0,1,60deg);
  }
  &.shape {
    background: url(hexagon.svg) 0 -2px no-repeat;
    background-size: 100%;
    visibility: visible;
  }
}

