body {
  font: 18px "Open Sans", sans-serif;
  color: #000;
  line-height: 1.4;
  font-smooth: always;
  background-color: blue; }

.hex-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% + 40px);
  margin-left: -20px;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  list-style-type: none; }
  .hex-grid-small {
    display: block;
    list-style: none; }
    .hex-grid-small .hexagon {
      float: left;
      max-width: 200px;
      margin: 0; }
      .hex-grid-small .hexagon:nth-child(4n + 0) {
        margin-bottom: calc(0 * -20px);
        margin-top: calc(0 * -20px); }
      .hex-grid-small .hexagon:nth-child(8n + 5) {
        margin-left: 115px;
        margin-bottom: calc(0 * -.5px); }
      .hex-grid-small .hexagon:nth-child(8n + 9) {
        margin-left: 30px; }
      .hex-grid-small .hexagon:nth-child(4n + 1) {
        margin-bottom: calc(1 * -20px);
        margin-top: calc(1 * -20px);
        clear: left; }
      .hex-grid-small .hexagon:nth-child(8n + 5) {
        margin-left: 115px;
        margin-bottom: calc(1 * -.5px); }
      .hex-grid-small .hexagon:nth-child(8n + 9) {
        margin-left: 30px; }
      .hex-grid-small .hexagon:nth-child(4n + 2) {
        margin-bottom: calc(2 * -20px);
        margin-top: calc(2 * -20px); }
      .hex-grid-small .hexagon:nth-child(8n + 5) {
        margin-left: 115px;
        margin-bottom: calc(2 * -.5px); }
      .hex-grid-small .hexagon:nth-child(8n + 9) {
        margin-left: 30px; }
      .hex-grid-small .hexagon:nth-child(4n + 3) {
        margin-bottom: calc(3 * -20px);
        margin-top: calc(3 * -20px); }
      .hex-grid-small .hexagon:nth-child(8n + 5) {
        margin-left: 115px;
        margin-bottom: calc(3 * -.5px); }
      .hex-grid-small .hexagon:nth-child(8n + 9) {
        margin-left: 30px; }
      .hex-grid-small .hexagon:nth-child(4n + 4) {
        margin-bottom: calc(4 * -20px);
        margin-top: calc(4 * -20px); }
      .hex-grid-small .hexagon:nth-child(8n + 5) {
        margin-left: 115px;
        margin-bottom: calc(4 * -.5px); }
      .hex-grid-small .hexagon:nth-child(8n + 9) {
        margin-left: 30px; }
      .hex-grid-small .hexagon .inner {
        width: calc(100% - 20px);
        padding-bottom: calc(113.5% - 20px);
        margin: 0 10px; }

.hexagon {
  position: relative;
  visibility: hidden;
  outline: 1px solid transparent;
  width: 20%;
  margin-bottom: 2%; }
  .hexagon:after {
    content: '';
    display: block;
    padding-bottom: 104.5%; }
  .hexagon img {
    left: -100%;
    right: -100%;
    width: auto;
    height: 100%;
    margin: 0 auto;
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
    background: red; }
  .hexagon .inner {
    position: absolute;
    width: calc(100% - 40px);
    padding-bottom: calc(113.5% - 40px);
    margin: 0 20px;
    overflow: hidden;
    visibility: hidden;
    outline: 1px solid transparent;
    -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
            transform: rotate3d(0, 0, 1, -60deg) skewY(30deg); }
    .hexagon .inner * {
      position: absolute;
      visibility: visible;
      outline: 1px solid transparent; }
  .hexagon .wrapper {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
            transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg); }
  .hexagon.shape {
    background: url(hexagon.svg) 0 -2px no-repeat;
    background-size: 100%;
    visibility: visible; }
